<!DOCTYPE html>
<html>
<head>
	<title>Exercise 1 solution</title>
</head>
<body>
	<table style="width: 50%" border="4px">
		<tr>
			<th>Website Name</th>
			<th>Link</th>
		</tr>
		<tr style="text-align: center;">
			<td>Coursera</td>
			<td><a href="https://www.coursera.org/" target="_blank"><b>Click here to visit</b></a></td>
		</tr>
		<tr style="text-align: center;">
			<td>Deep learning using tensorflow</td>
			<td><a href="https://towardsdatascience.com/deep-learning-from-scratch-and-using-tensorflow-in-python-34aad75f939" target="_blank"><b>Click here to visit</b></a></td>
		</tr>
		<tr style="text-align: center;">
			<td>Open CV</td>
			<td><a href="https://pythonprogramming.net/loading-images-python-opencv-tutorial/" target="_blank"><b>Click here to visit</b></a></td>
		</tr>
		<tr style="text-align: center;">
			<td>Deep Reinforcement learning</td>
			<td><a href="https://towardsdatascience.com/how-to-teach-an-ai-to-play-games-deep-reinforcement-learning-28f9b920440a" target="_blank"><b>Click here to visit</b></a></td>
		</tr>
		<tr style="text-align: center;">
			<td>Machine learning notebooks</td>
			<td><a href="https://github.com/krasserm/machine-learning-notebooks" target="_blank"><b>Click here to visit</b></a></td>
		</tr>
	</table>
</body>
</html>