<!DOCTYPE html>
<html>
<head>
	<title>TextUtils</title>
</head>
<body>
	<h1>Welcome to the Text Analyzer</h1>
	<form action="/analyze" method="GET">
		<textarea name="text"style="margin: 0px; width: 1881px; height: 195px;"></textarea>
		<input type="checkbox" name="removepunc">Remove Punctuation<br>
		<input type="checkbox" name="uppercase">Capitalize<br>
		<input type="checkbox" name="newlineremover">NewLineRemover<br>
		<input type="checkbox" name="spaceremover">ExtraSpaceRemover<br>
		<input type="checkbox" name="charactercount">CharacterCount<br>
		<br><button type="submit">Analyze</button>
	</form>
</body>
</html>